:root{
    --white:#ffffff;
    --white-50:#f0f0f0;
    --blue:#471aaa;
}

body{
    background-color: var(--white-50);
    display: flex;
    direction: rtl;
}

@font-face {
    font-family: Lalezar;
    src: url(./Lalezar-Font/TTF/Lalezar-Regular.ttf);
}

*,body,html{
    font-family: Lalezar;
}