.detail-modal-table{
    background-color: var(--white);
    width: 35%;
    height: 12%;
    border-radius: 5px;
}



.detail-modal-tr td{
    text-align: center;
    padding: 10px;
}

.detail-modal-table tbody tr td{
    padding: 10px;
    text-align: center;
}